<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WraithsDev</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/dark.css">
  <link rel="icon" type="image/x-icon" href="https://media.discordapp.net/attachments/1229334531560181810/1250059926231973938/channels4_profile.jpg?ex=666ed687&is=666d8507&hm=624cebd65cd5eaa964094c84a229f7cbb95ca092ddda685adf1350995fa55629&=&format=webp&width=663&height=663">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('include/header.ejs') %>
  <%- include('components/main.ejs') %>
  <%- include('components/github.ejs') %>
  <%- include('components/npm.ejs') %>
  <%- include('components/techno.ejs') %>
  <%- include('components/footer.ejs') %>
</body>
</html>
